{
  "plugins": ["lodash", "transform-es2015-modules-commonjs"],
  "presets": [["es2015", { "modules": false }], "react"],
  "env": {
    "production": {
      "plugins": [
        "transform-dev-warning",
        "add-module-exports",
        "transform-react-constant-elements",
        "transform-react-inline-elements",
        "transform-react-remove-prop-types"
      ]
    },
    "react-debugging": {
      "plugins": [
        ["react-transform", {
          "transforms": [{
              "transform": "react-transform-catch-errors",
              "imports": ["react", "redbox-react"]
            },
            {
              "transform": "react-transform-count-renders",
            },
            {
              "transform": "react-transform-render-visualizer"
            },
            {
              "transform": "react-transform-log-render"
            }
          ]
        }]
      ]
    }
  },
  "compact": false
}
