{
  "plugins": ["lodash", "transform-es2015-modules-commonjs"],
  "presets": [["es2015", { "modules": false }], "react"],
  "env": {
    "production": {
      "plugins": [
        "lodash",
        "transform-dev-warning",
        "add-module-exports",
        "transform-react-inline-elements"
      ]
    }
  },
  "compact": false
}
