<!DOCTYPE html>
<html>
  <head>
    <title>ReadMa.com - Maintenance</title>
    <style type="text/css">
      body {
        width: 400px;
        margin: 100px auto;
        font: 300 120% "OpenSans", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
      }
      h1 {
        font-weight: 300;
      }
    </style>
  </head>
  <body>
    <h1>ReadMa - Maintenance</h1>
    <p>The system is down for a software upgrade. We're trying to make things faster.</p>
    <p>It'll be back shortly.</p>
    <p>Sorry for the inconvenience.</p>
    <p>If you continue to see this message longer than 30min try refreshing the page then contact <a href="mailto:help@readma.com">help@readma.com</a></p>
  </body>
</html>
