.mobile-sidebar {
  position: fixed;
  bottom: 0;
  height: 50%;
  width: 100%;
  left: 0;
  background: #fff;
  display: block;
  border-top: 1px solid #eee;
  box-shadow: 0 0 10px 2px rgba(3, 3, 3, 0.35);
  padding: 10px;
  box-sizing: border-box;
}
