.sidebar {
    position: fixed;
    top:0;
    right: 0;
    width: 30%;
    height: 100%;
    padding: 10px;
    background-color: #eee;
    margin: solid 1px #aaa;

    textarea#selectedText {
        width: 100%;
        font-size: 14px;
        font-weight: bold;
        color: #777;
        background-color: inherit;
        border: solid 1px #fff;
    }
}


button.active {
    background-color: beige;
}