.wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    aside.sidebar {
        //position: fixed;
        overflow: scroll;
        //height: 100%;
        //margin-right: 10px;

        ul.collection {
            border: 0
        }

        .collapsed {
            height: 300px;
            overflow: hidden;
        }

        .box-body {
            p {
                padding: 1rem;
            };
            form {
                padding: 0.5rem;
            };
            button {
                margin-right: 0.5rem;
                border: 1px solid #aaa;
                &:last-child {
                    margin-right: 0px;
                }
                &[type="submit"] {
                    margin-right: 0;
                }
            }
        };
    };
};

.hidden {
    display: none;
}
