.flashcards-container {
  perspective: 800px;
  position: relative;
  .card-wrap{
    min-height: 350px;
    .card{
      position: absolute;
      width: 400px;
      height: 300px;
      backface-visibility: hidden;
      min-height: 200px;
      transition: transform 0.5s ease-in-out;
      .card-content{
        cursor: pointer;
      }
      .card-title {
        text-transform: capitalize;
      }
      .card-action{
        font-weight: bold;
      }
      .help-text{
        color: gray;
        line-height: 25px;
      }
    }
  }
}
