.flashcards-container {
  perspective: 800px;
  position: relative;
  .card-wrap{
    min-height: 350px;
    .card{
      position: absolute;
      width: 400px;
      height: 300px;
      backface-visibility: hidden;
      min-height: 200px;
      transition: transform 0.5s ease-in-out;
      .card-content{
        cursor: pointer;
      }
      .card-title {
        text-transform: capitalize;
      }
      .card-action{
        font-weight: bold;
      }
    }
  }
  .fadein-enter{
    opacity: 0.01;
    &.fadein-enter-active{
      opacity: 1;
      transition: opacity .5s ease-in;
    }
  }
  .fadein-appear{
    opacity: 0.01;
    &.fadein-appear-active{
      opacity: 1;
      transition: opacity .5s ease-in;
    }
  }

  .fadein-leave{
    opacity: 0.1;
    &.fadein-leave-active{
      opacity: 0.01;
      transition: opacity .5s ease-in;
    }
  }
  .flip-enter{
    transform: rotateY( -180deg );
    transform-style: preserve-3d;
    &.flip-enter-active{
      transform: rotateY( 0deg );
    }
  }
  .flip-leave{
    transform: rotateY( 0deg );
    transform-style: preserve-3d;
    &.flip-leave-active{
      transform: rotateY( 180deg );
    }
  }
}
