@import "./src/assets/sass/materialize/materialize";
@import "./src/assets/sass/flags/flag-icon";
@import "./src/assets/sass/vendor_overrides";
@import "./src/assets/sass/custom";


@media #{$medium-and-up} {
    .container {
        width: 90%;
    }
}

nav ul a, nav .brand-logo {
    @extend .black-text;
}

.articles {
    .userdefinitionbox{
        color: white;
        &:hover {
            color: black;
        }
    }
    li {
        border-bottom: 1px solid #e0e0e0;
        &:last-child {
            border-bottom: none;
        }
    }
}

.article {
    mark {
        background-color: inherit;
        color: inherit;
        &.selection {
            background-color: #f8bbd0;
        }
        &.user {
            border-bottom: solid 3px #ef5350;
        }
        &.d3k {
            background-color: lightgreen;
        }
    }
}

.error {
    color: red;
}

input.selectedText {
    font-weight: bold;
    color: #555;
}

ul.ttsplayer {
    margin-top: 15px;
    li {
        display: inline;

    }
}

a {
    cursor: pointer
}
