table {
    border: solid 0px #000;
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;

    thead {
        tr {
            td {
                background-color: #ddd;
                padding: 5px;
                text-align: right;
            }
        }
    }

    tbody {

        tr {
            &:hover {
                background-color: #eee;
            }

            td {
                border: 0;
            }

            td.word {
                width: 25%;
            }
            td.translation {
                width: 25%;
            }
            td.definition {
                padding: 5px;
            }

        }
    }
}