.Appbar
  position: fixed !important
  width: 100%
  top: 0
  align-items: center
  h1
    flex: 0 1 auto !important
    margin-right: 2em !important

  > *
    margin-top: 0 !important
    margin-botttom: 0 !important
