.ArticleLink
  &-listItem
    line-height: 145%
    font-size: 24
    font-weight: 300
  &-newListItem
    line-height: 145%
    font-size: 24
    font-weight: 500
  &-secondaryText
    height: 20px
    line-height: 22px
  .icon-private
    position: relative
    bottom: -2px
