.ArticleLink
  @extend %Card
  &:hover
    border-color: #bbb
    background-color: #efefef !important
  > div
    height: 100%
    display: flex
    flex-wrap: wrap
    align-items: scape-between
  &:last-child
    padding-right: 0
  a
    text-decoration: none !important

  &-CardTitle
    height: auto !important
    > span
      line-height: 135% !important
      &:first-child // title
        font-size: 110% !important
      &:last-child // difficulty
        text-transform: capitalize
        font-size: 90%
        margin-top: .75em
  &-Badges
    > span
      margin-right: 1em
  &-AudioBadge
    font-size: 145%
    line-height: 165%
    span
      margin: 0 .25em
  &-CardMedia
    padding-left: 16px !important
    overflow: hidden
    max-height: 350px
    img
      width: 100%
  &-CardActions
    padding-left: 16px !important
    svg
      fill: #666 !important
  &-CardText
    align-self: flex-end
    a
      color: #ccc !important
      font-size: 80% !important
      word-wrap: break-all
