// Cards

.card {
  @extend .z-depth-1;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  .card-item {
    padding: 10px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 22%;
    max-width: 22%;
    min-width: 200px;
    margin: 2% .5%;
    @extend .z-depth-1;
    text-align: center;

  }

  .card-content {

  }

  .card-title {
    text-transform: capitalize;
  }

  .card-subtitle {
    line-height: 145%;
  }

  .card-description {

  }

}

.flashcards-container {
  perspective: 800px;
  position: relative;
  .card-wrap{
    min-height: 350px;
    .card{
      position: absolute;
      width: 400px;
      height: 300px;
      backface-visibility: hidden;
      min-height: 200px;
      .card-content{
        cursor: pointer;
      }
      .card-title {
        text-transform: capitalize;
      }
      transition: transform 0.5s ease-in-out;
    }
  }
  .fadein-enter{
    opacity: 0.01;
    &.fadein-enter-active{
      opacity: 1;
      transition: opacity .5s ease-in;
    }
  }
  .fadein-appear{
    opacity: 0.01;
    &.fadein-appear-active{
      opacity: 1;
      transition: opacity .5s ease-in;
    }
  }

  .fadein-leave{
    opacity: 0.1;
    &.fadein-leave-active{
      opacity: 0.01;
      transition: opacity .5s ease-in;
    }
  }
  .flip-enter{
    transform: rotateY( -180deg );
    transform-style: preserve-3d;
    &.flip-enter-active{
      transform: rotateY( 0deg );
    }
  }
  .flip-leave{
    transform: rotateY( 0deg );
    transform-style: preserve-3d;
    &.flip-leave-active{
      transform: rotateY( 180deg );
    }
  }
}
