// Cards

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  .card-item {
    padding: 10px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 22%;
    max-width: 22%;
    min-width: 200px;
    margin: 2% .5%;
    @extend .z-depth-1;
    text-align: center;

  }

  .card-content {

  }

  .card-title {
    text-transform: capitalize;
  }

  .card-subtitle {
    line-height: 145%;
  }

  .card-description {

  }
}
