.Profile-Articles
  .Articles-List
    .ArticleLink
      max-width: 50%
      flex: 1 1 auto
      border: 0
      &-CardMedia
        max-height: 100px
        height: 100%
      &-CardMedia-Image
        height: 100px
        background-position: 0 0
        background-size: contain !important
