.Sidebar
  &-Subheader
    font-size: 18px
    font-weight: 600
    color: #000
  &-TargetLanguageMenu
    h4
      float: left
      padding-left: 16px
  &-Appbar
    position: fixed !important
    top: 0
    align-items: center
  &-AppbarCloseButton
    @include desktop
      display: none !important
  &-TranslationsInstruction
    clear: both
    width: 75%
    display: block
    padding-top: 3.5em
    margin: auto
    p
      margin-bottom: 1em
      color: #eee
      font-size: 1.85em
      line-height: 145%
      font-weight: 200
