.Toolbar
  background-color: #6078f6 !important
  box-shadow: 0 3px 10px rgba(0,0,0,0.23)
  position: fixed
  top: 64px
  left: 0
  right: 0
  svg + div
    display: none

.ToolbarArticle

.ToolbarArticles
  z-index: 2
  padding: 0
  background-color: #fff
  svg
    fill: #fff !important
  div
    color: #fff !important
