%highlight-padding {
  padding: 1px 4px;
  margin: 0 -4px;
}

$selection-bg: #f8bbd0;
$d3k-bg: lightgreen;

// Mobile
.extra-small {
  .article-wrapper {
    width: calc(100vw - 15px);
  }
}

.article-wrapper {
  // width: 95%;
  width: calc(100vw - 550px);
  word-spacing: 5px;
  margin-bottom: 30px;

  .article {
    font-size: 1.5em;
    font-weight: 300;
    .content {
      line-height: 155%;
    }

    .word {
      cursor: pointer;
    }

    .appending .word {
      cursor: copy;
    }
    .content {

      // Highlighting
      .word, .selected, .selection, .d3k {
        @extend %highlight-padding;
      }

      // Selected word / phrase
      // TODO: Unify .selected & .selection into one class
      .selected, .selection {
        background-color: $selection-bg;
      }

      // Handle case when word is both selected and highlighted by d3k
      .quick-selection,
      .selection.d3k {
        border-bottom: 3px solid $selection-bg;
      }

      .word:hover {
        background-color: lighten($selection-bg, 10%);
      }

      .selection .word, .word.selected {
        &:hover {
          background-color: $selection-bg;
        }
      }

      // 3k dictionary highlight
      // TODO: Unify .marked & .d3k into one class
      .marked, .d3k {
        background-color: $d3k-bg;
        &:hover {
          background-color: darken($d3k-bg, 10%);
        }
      }

      // Words added to user definition list
      // TODO: Unify .user-selected & .user into one class
      .user-selected, .user {
        @extend %highlight-padding;
        border-bottom: solid 3px #ef5350;
      }

    }

    mark {
      background-color: inherit;
      color: inherit;
    }
  }

  p, .paragraph {
    margin-bottom: 1em;
  }

  img {
    max-width: 100%;
    margin: 1em 0;
  }

  footer a {
    word-wrap: break-word;
  }
}

@media only screen and (max-width: 600px) {
  .article-wrapper {
    padding-bottom: 50% !important; // Unhide bottom of the article from mobile sidebar
  }
}
