@import "./src/assets/sass/vendor/flexboxgrid.min";
@import "./src/assets/sass/flags/flag-icon";
@import "./src/assets/sass/react_animations";
@import "./src/assets/sass/custom";

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1px rgba(0,0,0,0.1);
  margin: 0;
  overflow-x: hidden;
  font-family: 'Helvetica Neue', Helvetica, 'Lato', sans-serif;
}

pre {
  padding: 10px 5px;
  line-height: 100%;
  border: solid 1px #eee;
  background-color: #f5f5f5;
}

code {
  font-size: 0.7em;
}

.error {
  color: red;
}

input.selectedText {
  font-weight: bold;
  color: #555;
}

// ul.ttsplayer {
//   margin-top: 15px;
//   li {
//     display: inline;
//   }
// }

a {
  cursor: pointer;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
}
