p {
  margin: 0 15px 0 0;
}

.article-wrapper {
  word-spacing: 6px;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.login-screenshot {
  margin-top: 25px;
  clear: both;

  img {
    max-width: 40%;
  }
}

.expand-collapse-trigger {
  clear: both;
  margin-top: 1em;
  cursor: pointer;
  i {
    color: #26a69a;
  }
  &:hover {
    i {
      color: darken(#26a69a, 15%);
    }
  }
}
